body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
}
p {
    font-size: 150%;
}

h1 {
    font-size: 160%;
}
h1 {
    color: rgb(250, 107, 131);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:capitalize;
    font-weight: 700;
    text-align:center;
}

h2 {
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:capitalize;
    font-weight: 400;
    text-align: left; 
}

/* Navigation bar */
.topnav {
    background-color:dimgrey;
    overflow: hidden;
}

.topnav a:hover {
    background-color: whitesmoke
}

.topnav a {
    float: left;
    display: block;
    color:lightpink;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 540;
}

.topnav a.active {
    background-color: black;
    color: pink;
}
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* Search bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: black;
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 20;
}

.topnav input[type=text] {
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 10px;
    }
    .topnav input[type=text] {
        border: 1px solid black;
    }
}

.topnav2 {
    background-color:dimgrey;
    overflow: hidden;
}

.topnav2 a:hover {
    background-color: whitesmoke
}

.topnav2 a {
    float: left;
    display: block;
    color:pink;
    text-align: center;
    padding: 9px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14.5px;
    font-weight: 540;
}

.topnav2 a.active {
    background-color: black;
    color: pink;
}
  /* Links inside the navbar */
  .navbar2 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* Search bar */
.topnav2 input[type=text] {
    float: right;
    padding: 3px;
    border: black;
    color: black;
    margin-top: 6px;
    margin-bottom:14px;
    margin-right: 14px;
    font-size: 12.5px;
    font-weight: 100;
    width: 13%;
    height: 48%
}

.topnav2 input[type=text] {
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .topnav2 a, .topnav2 input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 60px;
    }
    .topnav2 input[type=text] {
        border: 1px solid black;
    }
}

.topnav3 {
    background-color:dimgrey;
    overflow: hidden;
}

.topnav3 a:hover {
    background-color: whitesmoke
}

.topnav3 a {
    float: left;
    display: block;
    color:pink;
    text-align: center;
    padding: 9px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14.5px;
    font-weight: 540;
}

.topnav3 a.active {
    background-color: black;
    color: pink;
}
  /* Links inside the navbar */
  .navbar3 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 100px 100px;
    text-decoration: none;
  }
  
/* Search bar */
.topnav3 input[type=text] {
    float: right;
    padding: 4px;
    border: black;
    color: black;
    margin-top: 6px;
    margin: bottom 10px;
    margin-right: 14px;
    font-size: 12.5px;
    font-weight: 100;
    width: 12.5%;
    height: 48%
}

.topnav3 input[type=text] {
    border: 1px solid black;
}

@media screen and (max-width: 600px) {
    .topnav3 a, .topnav3 input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 60px;
    }
    .topnav3 input[type=text] {
        border: 1px solid black;
    }
}

/* Writing with images */
.container {
    position: relative;
    text-align: center;
    color: black;
}

/* Cupcake Image Writing */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 500%;
}

img {
    width: 100%
}

/* 4 columns side by side - 4 pictures */
.column {
    float: left;
    width: 20.5%;
    margin-bottom: 16px;
    margin: 16px;
    padding: 0 18px;
}


/* Left and right padding - 4 pictures */
.container {
    padding: 0 20px;
}

/* Clear floats - 4 pictures */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Name of recipes under pictures */

h2 {
    color: rgba(240, 107, 129, 0.856);
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    text-align: center;
}

/* Writing under the 4 images, i.e. prep time etc. */
p {
    color: black;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}
.title {
  color: black;
}

/* View Recipe buttons */
.container-button{
  color: white;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 6px;
  text-decoration: none;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.container-button:hover {
    background-color: grey;
    text-decoration: none;
}

/* Footer */
.bottomnav {
    background-color:dimgrey;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 50px;
}

.bottomnav a:hover {
    background-color: whitesmoke
}

.bottomnav a {
    color:lightpink;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.bottomnav a.active {
    background-color: black;
    color: pink;
}

/* Footer */
.bottomnav2 {
    background-color:dimgrey;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 51px;
    padding-right: 24px;
}

.bottomnav2 a:hover {
    background-color: whitesmoke
}

.bottomnav2 a {
    color:lightpink;
    text-align:center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11px;
    font-weight: 500;
}
.bottomnav2 a.active {
    background-color: black;
    color: pink;
}